<!DOCTYPE html>
<html lang="en">
<head>
<title>my art</title>
<link rel="stylesheet" href='/style.css'>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

<div id="top-bar" class="centered">
    <div id="top-bar-buttons">
        <div class="top-bar-button-group">
            <a id="left-margin-button" href="/"><- home</a>
            <div class="top-bar-separator"></div>
            <b>MY ART</b>
        </div>
        <div class="top-bar-button-group">
            <--field --name="prev">
            <--field --name="page-number">/<--field --name="page-count">
            <--field --name="next">
        </div>
    </div>
</div>
<div id="top-banner"></div>
<div class="horizontal centered align-start">
    <--inner-html>
</div>

<footer>
    <p>milobit.net - est 2024</p>
</footer>
<style>
    #top-bar {
        position: sticky;
        z-index: 1;
        top: 0;
    }
</style>
</body>
</html>
