<!DOCTYPE html>
<html lang="en">
<head>
<title><--field --name="title"></title>
<link rel="stylesheet" href='<--field --name="root">/style.css'>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<table class="main">
<tr>
    <th>
        <div class="window">
            <h2>navbar</h2>
            <ul class="vnav">
                <li><a href="/">home</a></li>
                <li><a href="art/index.html">art</a></li>
            </ul>
        </div>
        <div class="window">
            <h2>social</h2>
            <ul class="vnav">
                <li><a href="https://bsky.app/profile/milobit.net">bluesky</a></li>
                <li><a href="https://github.com/milo256">github</a></li>
                <li><a href="https://www.youtube.com/@milo3733">youtube</a></li>
                <li><a href="https://milobyte.tumblr.com/">tumblr</a></li>
                <li><a href="https://milobyte.newgrounds.com/">newgrounds</a></li>
                <li><b>discord:</b> @milo28</li>
            </ul>
        </div>
        <a href='https://milobit.net'><img src='<--field --name="root">/badge.gif'></a>
        <a href='https://insect.christmas'><img src='<--field --name="root">/graphics/insect.christmasbutton.jpg'></a>
        <a href='https://pink-luva.neocities.org/'><img src='<--field --name="root">/graphics/ae.jpg'></a>
        <img src='<--field --name="root">/graphics/cloud.png'>
        <img src='<--field --name="root">/graphics/any-browser.png'>
        <img src='<--field --name="root">/graphics/catboys-meow.webp'>
        <img src='<--field --name="root">/graphics/make-a-website.jpg'>
        <!-- <a href='https://www.blender.org'><img src='<--field --name="root">/graphics/blender.gif'></a> -->
        <a href='https://neovim.io'><img src='<--field --name="root">/graphics/neovim.png'></a>
        <a href='https://archlinux.org'><img src='<--field --name="root">/graphics/archlinux.gif'></a>
    </th>
    <td>
        <--inner-html>
    </td>
</tr>
</table>
<footer>
    <p>milobit.net - est 2024</p>
</footer>
</body>
</html>

