<!DOCTYPE html>
<html lang="en">
<head>
<--field --name="head-content" --default="">
<title><--field --name="title"></title>
<link rel="stylesheet" href='/style.css'>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<table class="main">
<tr>
    <th>
        <div class="window">
            <h2>nav</h2>
            <ul class="vnav">
                <li><a href="/">home</a></li>
                <li><a href="/art">gallery</a></li>
                <li><a href="/com">commissions</a></li>
                <li><a href="https://milobyte.atabook.org">guestbook</a></li>
            </ul>
        </div>
        <div class="window">
            <h2>social</h2>
            <ul class="vnav">
                <li><a href="https://bsky.app/profile/milobit.net">bluesky</a></li>
                <li><a href="https://github.com/milo256">github</a></li>
                <li><a href="https://www.youtube.com/@milo3733">youtube</a></li>
                <li><a href="https://milobyte.tumblr.com/">tumblr</a></li>
                <li><a href="https://milobyte.newgrounds.com/">newgrounds</a></li>
                <li><b>discord:</b> @milo28</li>
            </ul>
        </div>
        <img src='/graphics/cloud.png'>
        <img src='/graphics/any-browser.png'>
        <img src='/graphics/catboys-meow.webp'>
        <img src='/graphics/make-a-website.jpg'>
        <!-- <a href='https://www.blender.org'><img src='/graphics/blender.gif'></a> -->
        <a href='https://neovim.io'><img src='/graphics/neovim.png'></a>
        <a href='https://archlinux.org'><img src='/graphics/archlinux.gif'></a>
    </th>
    <td>
        <--inner-html>
    </td>
</tr>
</table>
<footer>
    <p>milobit.net - est 2024</p>
</footer>
</body>
</html>
