<!DOCTYPE html>
<html lang="en">
<head>
<--field --name="head-content" --default="">
<title><--field --name="title"></title>
<link rel="stylesheet" href='/style.css'>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

<div class="horizontal centered">
    <div class="vertical">
        <div class="window" style="width: 86px;">
            <h2>nav</h2>
            <a href="/">home</a><br>
            <a href="/art">gallery</a><br>
            <a href="/com">commissions</a><br>
            <a href="https://milobyte.atabook.org">guestbook</a><br>
        </div>
        <div class="window" style="width: 86px;">
            <h2>social</h2>
            <a href="https://bsky.app/profile/milobit.net">bluesky</a><br>
            <a href="https://github.com/milo256">github</a><br>
            <a href="https://www.youtube.com/@milo3733">youtube</a><br>
            <a href="https://milobyte.tumblr.com/">tumblr</a><br>
            <a href="https://milobyte.newgrounds.com/">newgrounds</a><br>
            <b>discord:</b> @milo28<br>
        </div>
        <a><img src='/graphics/cloud.png'></a>
        <a><img src='/graphics/any-browser.png'></a>
        <a><img src='/graphics/catboys-meow.webp'></a>
        <a><img src='/graphics/make-a-website.jpg'></a>
        <!-- <a href='https://www.blender.org'><img src='/graphics/blender.gif'></a> -->
        <a href='https://neovim.io'><img src='/graphics/neovim.png'></a>
        <a href='https://archlinux.org'><img src='/graphics/archlinux.gif'></a>
    </div>
    <div class="vertical" style="flex: auto; max-width: 480px">
        <--inner-html>
    </div>
</div>
<br>
<footer>
    <p>milobit.net - est 2024</p>
</footer>

</body>
</html>
