<!DOCTYPE html>
<html lang="en">
<head>
<title><--field --name="title"></title>
<link rel="stylesheet" href='/style.css'>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div id="top-bar" class="centered">
        <a href='/'>&lt- home</a>
        <div class="sep"></div>
        <a href='/art/<--field --name="gallery-page" --default="">'>&lt- back to gallery</a>
    </div>
    <div class="horizontal centered">
        <div class="vertical" style="max-width: 900px;">
            <--inner-html>
        </div>
    </div>
<footer>
</footer>
<style>
    .sep {
        display: inline-block;
        width: 1px;
        margin-left: 8px;
        margin-right: 8px;
        height: 100%;
        background-color: var(--borderl);
    }
    #top-bar {
        padding-left: 8px;
        display: flex;
        justify-content: left;
        align-items: center;
    }
</style>
</body>
</html>
