:root {
    --textp: #d8dee9;
    --textb: #eceff4;
    --texta: #88c0d0;
    --texts: #ebcb8b;
    --borderl: #4c566a;
    --bgwin: #3b4252;
    --bgbase: #2e3440;
    --bgac: #d8dee9;
    --bga: #81a1c1;
    --borderbga: #20242D;
    --textbga: #2e3440;
    --shadewin: #20242D;
    --shadebase: #101114;
}


body {
    font-family: monospace;
    text-align: center;
    text-wrap: nowrap;
    color: var(--textp);
    background-color: var(--bgbase);
    background-image: url("graphics/bg.png");
    font-size: 0px;
}

.window, .window * {
    font-size: 12px;
}

h1, h2 {
    text-align: center;
    border-bottom: 1px solid var(--borderl);
    margin: 0;
    padding-bottom: 3px;
    font-style: bold;
    text-transform: uppercase;
    text-wrap: nowrap;
}

h1::before, h2::before { content: "-- "; }
h1::after, h2::after { content: " --"; }

h1 {
    color: var(--texta);
    border-color: var(--borderl);
}

h1.inline, h2.inline {
    border-bottom: 0;
    padding-bottom: 0;
}

h3 {
    color: var(--textp);
    font-style: bold;
}

a {
    text-decoration: none;
    color: var(--texta);
}

a:hover { text-decoration-line: underline; }

div.horizontal {
    display: flex;
    flex-direction: row;
}

div.vertical {
    display: flex;
    flex-direction: column;
}

div.centered {
    display: flex;
    justify-content: center;
}

div.align-start {
    display: flex;
    align-items: start;
}

div.wrapping {
    display: flex;
    flex-wrap: wrap;
}


div.window {
    margin: 4px 4px;
    padding: 0px 5px 3px;
    position: relative;
    text-wrap: wrap;
    text-align: left;
    background-color: var(--bgwin);
    border: 1px solid var(--borderl);
    box-shadow: 5px 5px var(--shadebase);
}

div.fullwidth {
    width: auto;
}

div.window div.window {
    box-shadow: 3px 3px var(--shadewin);
}

div.paper {
    background-color: var(--bga);
    border: 1px solid var(--borderbga);
    color: var(--textbga);
}

div.paper > :is(img, div) {
    background-color: var(--bgac);
    border: 1px solid var(--borderbga);
}

table.prices {
    text-wrap: nowrap;
    border-collapse: collapse;
    width: 100%;
}

table.prices th, table.prices td {
    border-bottom: 1px solid var(--borderl);
}

table.prices td {
    text-align: right;
}

ul.plist {
    margin: 0px 20px 30px;
    padding: 0;
    list-style-type: none;
}

ul.plist > * {
    border-top: 1px solid var(--borderl);
    padding: 6px 0;
}

.hnav {
    text-align: left;
    text-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.hnav > * {
    display: inline-block;
    padding: 0 6px;
}

.hnav > :not(:last-child) {
    border-right: 1px solid var(--borderl);
}

@keyframes splash {
    from { scale: 1.0 }
    to { scale: 1.08 }
}

#splash-text a {
    color: #ebcb8b;
}

#splash-text {
    z-index: 1;
    color: #ebcb8b;
    display: inline-block;
    position: absolute;
    width: 200px;
    text-align: center;
    right: -50px;
    top: 20px;
    rotate: -25deg;
    animation-name: splash;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@media screen and (max-width: 640px) {
    #splash-text {
        rotate: 5deg;
        width: 160px;
        top: 18px;
        right: -10px;
    }
}


