:root {
    --textp: #d8dee9;
    --textb: #eceff4;
    --texta: #88c0d0;
    --texts: #ebcb8b;
    --borderl: #4c566a;
    --bgwin: #3b4252;
    --bgbase: #2e3440;
    --bgac: #d8dee9;
    --bga: #81a1c1;
    --borderbga: #20242D;
    --textbga: #2e3440;
    --shadewin: #20242D;
    --shadebase: #101114;
}


body {
    font-family: monospace;
    text-align: center;
    color: var(--textp);
    background-color: var(--bgbase);
    background-image: url("graphics/bg.png");
}

* {
    font-size: 12px;
}

hr {
    color: var(--borderl);
}

h1, h2 {
    text-align: center;
    border-bottom: 1px solid var(--borderl);
    margin: 0;
    padding-bottom: 3px;
    font-style: bold;
    text-transform: uppercase;
    text-wrap: nowrap;
}

h1::before, h2::before { content: "-- "; }
h1::after, h2::after { content: " --"; }

h1 {
    color: var(--texta);
    border-color: var(--borderl);
}

h1.inline, h2.inline {
    border-bottom: 0;
    padding-bottom: 0;
}

h3 {
    color: var(--textp);
    font-style: bold;
}

a {
    text-decoration: none;
    color: var(--texta);
}

a:hover { text-decoration-line: underline; }

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: center;
}

.align-start {
    display: flex;
    align-items: start;
}

.wrapping {
    display: flex;
    flex-wrap: wrap;
}

.window {
    margin: 4px 4px;
    padding: 0px 5px 3px;
    position: relative;
    text-align: left;
    background-color: var(--bgwin);
    border: 1px solid var(--borderl);
    box-shadow: 5px 5px var(--shadebase);
}

.hnav {
    overflow: scroll;
    text-wrap: nowrap;
}

.hnav > * {
    display: inline-block;
    padding: 0 6px;
}

.hnav > :not(:last-child) {
    border-right: 1px solid var(--borderl);
}

.card, .card:hover {
    color: var(--textp);
    text-decoration: none;
}

.card h3 {
    margin: 4px 0 2px;
}

.card:hover h1 {
    text-decoration: underline;
}

.image-count-label {
    position: absolute;
    padding: 0 8px;
    background-color: var(--bgbase);
}

#picture-frame {
    background-color: var(--bga);
    border: 1px solid var(--borderbga);
    box-shadow: 3px 3px var(--shadewin);
    margin: 12px 8px;
    padding: 6px;
    display: inline-block;
    rotate: 4deg;
}

#picture-frame > img {
    background-color: var(--bgac);
    border: 1px solid var(--borderbga);
    margin-bottom: -3px;
}

#gallery-wrapper {
    display: flex;
    flex-direction: row;
    align-items: start;
}

@media screen and (max-width: 640px) {
    #gallery-wrapper {
        flex-direction: column-reverse;
        align-items: stretch;
    }
}
